[worldserver]

###################################################################################################
#	兽王 NPC
###################################################################################################

# 仅对猎人职业启用？

BeastMaster.HunterOnly = 1

# 领养宠物所需的等级。（默认值：10，0 = 禁用）

BeastMaster.MinLevel = 10

# 猎人需要野兽掌握技能才能领养异种宠物。（默认值：0）

BeastMaster.HunterBeastMasteryRequired = 1

# 允许非猎人使用异种宠物（默认值：1）

BeastMaster.AllowExotic = 0

# 让宠物始终保持快乐状态（默认值：0）

BeastMaster.KeepPetHappy = 0

# 普通宠物

BeastMaster.Pets="蝙蝠,10357,熊,12037,野猪,29996,猫,2175,食腐鸟,2931,螃蟹,18241,鳄鱼,1417,龙鹰,18155,大猩猩,1559,猎犬,29452,鬣狗,5829,蛾,25498,虚空鳐,18285,猫头鹰,14343,迅猛龙,9684,破坏者,22123,蝎子,14476,蛇,28011,蜘蛛,12433,孢子蝠,18280,高脚鸟,22807,乌龟,14223,迁跃追踪者,23163,黄蜂,18283,风蛇,5834,狼,3825,座狼,24128"

# 异种宠物

BeastMaster.ExoticPets="奇美拉,20932,熔岩犬,33502,恶魔龙,32485,犀牛,25487,异种虫,6582,约尔蒙格虫,30422,阿图里斯（灵魂熊）,38453,冈德里亚（灵魂虎）,33776,洛奇纳哈克（灵魂豹）,32517,斯科尔（灵魂狼）,35189"

# 稀有宠物

BeastMaster.RarePets="马兹拉纳其 (长脚鸟),3068,奥托纳 (鸟),32481"

# 稀有异种宠物

BeastMaster.RareExoticPets="库尔肯,17447"
